div
	div
		Search: input(ng-model="query")
	div.row
		div.span12
			div.span2 Name
			div.span2 provider
			div.span4 url
			div.span1 size
			div.span1 score
		div.span12(ng-repeat="box in boxes | filter:query ")
			div.span2
				a(href="#/boxes/{{box.name}}") {{box.name}}
			div.span2
				{{box.provider}}
			div.span4
				a(href="box.url") {{box.url}}
			div.span1
				{{box.size}}
			div.span1
				{{box.score}}

		
		

