div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') x 
				h4.modal-title Modal title
			.modal-body
				form.form-horizontal(role="form")
					.form-group
						label.col-lg-2(for="BoxName") Box Name:    
						input.col-lg-4(type="email" id="BoxName" placeholder="New Box Name")
		.modal-footer
			button.btn.btn-default(type='button', data-dismiss='modal') 
				| Close
			button.btn.btn-primary(type='button' ng-click="add()") 
				| Save changes

div.row
	div.span4
		a(data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg")
			| Add a box
	div.span4
		| Search: 
		input(ng-model="query")
	div.span4
		| Order By:  
		select(ng-model="orderProp")
			option(value="name") Alphabetical
			option(value="score") Score
			option(value="size") Size
div.row
	div.span12
		div.span2 Name
		div.span1 provider
		div.span4 url
		div.span1 size
		div.span2 score
div.row	
	div.span12(ng-repeat="box in boxes | filter:query | orderBy:orderProp")
		div.span2
			a(href="#/boxes/{{box.name}}") {{box.name}}
		div.span1
			{{box.provider}}
		div.span4
			a(href="box.url") {{box.url}}
		div.span1
			{{box.size}} MB
		div.span2
			button(ng-click="votedown($index)")
				i.icon-thumbs-down
			|  {{box.score}} 
			button(ng-click="voteup($index)")	
				i.icon-thumbs-up
		
		

