div.row.text-center
	div.span6
		| Search: 
		input(ng-model="query")
	div.span6
		| Order By:  
		select(ng-model="orderProp")
			option(value="name") Alphabetical
			option(value="score") Score
			option(value="size") Size
div.row.text-center
	div.span12
		div.span2.offset1 Name
		div.span2 provider
		div.span4 url
		div.span1 size
		div.span1 score
	div.span12(ng-repeat="box in boxes | filter:query | orderBy:orderProp")
		div.span2.offset1
			a(href="#/boxes/{{box.name}}") {{box.name}}
		div.span2
			{{box.provider}}
		div.span4
			a(href="box.url") {{box.url}}
		div.span1
			{{box.size}}
		div.span1
			{{box.score}}

		
		

