extends layout

block body
  h1= title
  a(href='https://github.com/garethr/vagrantboxes-heroku') 
    img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', alt='Fork me on GitHub')
   #main
  h1
    a(href='/') Vagrantbox.es
  p
    a(href='http://vagrantup.com') Vagrant 
    | is an amazing tool for managing virtual machines via a simple to use command line interface. With a simple
    code vagrant up
    | you can be working in a clean environment based on a standard template.
    p
      | These standard templates are called 
      a(href='http://docs.vagrantup.com/v2/boxes.html') base boxes
      | , and this website is simply a list of boxes people have been nice enough to make publicly available.
  h2 Suggest a Box
  h2 Available Boxes
  p
  | To use the available boxes just replace {title} and {url} with the information in the table below.
  pre.
    $  vagrant box add {title} {url}
    $  vagrant init {title}
    $  vagrant up
  div(ng-view)

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
  script(src='js/app.js')
  script(src='js/controllers/main.js')
  script(src='js/controllers/boxlist.js')
