body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.zeroclipboard-button {
	text-align: center;
	background-color: rgb(238, 238, 238);
	border: 1px solid gray;
}
.border {
	background-color: rgb(245, 245, 245);
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px 4px 4px 4px;
}
